# Arquivos e pastas do macOS
.DS_Store
._*

# Arquivos de configuração do Eclipse
.settings/
.classpath
.project

# Diretórios de build
bin/
target/
out/

# Logs
*.log

# Arquivos temporários
*.tmp
*.bak
*.swp
*~

# Arquivos de sistema
Thumbs.db
